body, html {
  font-family: "Roboto", sans-serif;
  height: 100%;
  width: 100%;
  margin: 0;
  background-image: URL('https://images.pexels.com/photos/56030/pyrite-pyrites-mineral-sulfide-56030.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260');
  color: white;
  background-repeat: no-repeat;
  background-attachment: fixed;
} 

.container {
  align-content: centre;
}

footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.card {
  background-color: rgba(0,0,0,0.7) !important;
  align-items: center;
  text-align: center;
  position: relative;
  margin-top: 150px;
  padding: 20px 20px 40px;
  margin-bottom: auto;
  border-radius: 10px;
  box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

hr {
  border-top: 1px solid rgba(242,241,241,0.5);
}



.fa-gem {
  opacity: 0.8;
  margin: 5px;
}

#crystal1 {
  color: #a0dc00;
}

#crystal2 {
  color: #f0008c;
}

#crystal3 {
  color: #00c7ff;
}

#crystal4 {
  color: #ffbe00;
}