body {
    font-family: 'Roboto', sans-serif;
    background-color: black;
    
}

header {
    text-align: center;
}


.main-section {
    background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
    color: whitesmoke;
    padding: 20px 15px;


}

.instructions {
margin: auto;
padding: 15px 20px;

}


.crystalImage {
    height: 120px;
    width: 150px;
    margin: 0 auto;
}