body {
  font-family: "Roboto", sans-serif;
  width: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-color: black;
}


footer {
  position: fixed;
  height: 100px;
  bottom: 0;
  width: 100%;
  text-align: center;

}

.jumbotron-fluid {
  background-image: linear-gradient(to right, #243949 0%, #517fa4 100%);
  align-items: center;
  position: relative;
  margin: 200px;
}

.container {
  background:#fff; 
  border-radius: 10px;
  box-shadow:15px 20px 0px rgba(0,0,0,0.1);
}

.fa-gem {
  opacity: 0.8;
}

#crystal1 {
  color: #a0dc00;
}

#crystal2 {
  color: #f0008c;
}

#crystal3 {
  color: #00c7ff;
}

#crystal4 {
  color: #ffbe00;
}